/*  */

/* FONTS  */
a {
  text-decoration: none;
  color: rgb(58 58 58);
}

a:hover {
  color: #f1d12f;
}

nav {
  font-family: 'poppins semibold', Helvetica, sans-serif;
}

h1 {
  font-family: 'Fredoka',Halvetica, sans-serif;
  color: rgb(20, 153, 254);
}

/* TOP BANNER  */
/*  background color */
.top_banner {
  background-color: #f1d12f;
  height: 30px;
}

.banner_text {
  font-family: 'Poppins semibold', sans-serif;
  line-height: 2;
  text-align: center;
  color: white;
}

/* HEADER / LOGO */
.header {
  background-color: rgb(20, 153, 254);
  height: 120px;
}

.logo_container {
  width: 1000px;
  display: block;
  margin: 0 auto;
  height: 120px;
}
.logo_header {
  height: 80px;
  display: block;
  margin: 0 auto;
  padding-top: 1.5%;
}

/* NAV BAR */
.nav_tab {
  padding-right: 50px;
  line-height: 3.2;
}

.nav_bg {
  background-color: rgb(241, 241, 241);
}

.nav_container {
  max-width: 1200px;
  margin: 0 auto;
  height: 52px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


/* Dropdown Button */
.dropbtn {
  color: rgb(58 58 58);
  padding-right: 50px;
  font-size: 16px;
  border: none;
  font-family: 'poppins semibold', Helvetica, sans-serif;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  height: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(58 58 58);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #d0d0d0;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #f1d12f;
}



img {
  max-height: 30em;
}

body {
  margin: -16px 0px 0 0px;
}

/* website container */
.container {
  max-width: 1200px;
  margin: 0 auto;    
}

.thumb {
    height: 14em;
}
