/*  */

/* FONTS  */
a {
  text-decoration: none;
  color: rgb(58 58 58);
}

a:hover {
  color: #f1d12f;
  transition: 0.3s;
}

nav {
  font-family: 'poppins semibold', Helvetica, sans-serif;
}

h1,h2 {
  font-family: 'Fredoka', Helvetica, sans-serif;
  color: rgb(20, 153, 254);
}

p, ul, ol, li, input, .input_text {
  font-family: 'Poppins light', Helvetica, sans-serif;
  font-size: 11.8pt;
}

label {
  font-family: 'Poppins semibold', Helvetica, sans-serif;
  display: inline-block;
}
/* TOP BANNER  */
/*  background color */
.top_banner {
  background-color: #f1d12f;
  height: 30px;
}

.banner_text {
  font-family: 'Poppins semibold', sans-serif;
  line-height: 2;
  text-align: center;
  color: white;
}

/* HEADER / LOGO */
.header {
  background-color: rgb(20, 153, 254);
  height: 120px;
}

.logo_container {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  height: 120px;
}
.logo_header {
  height: 80px;
  display: block;
  margin: 0 auto;
  padding-top: 1.5%;
}

/* NAV BAR */
.nav_tab {
  padding-right: 30px;
  line-height: 3.2;
}

.nav_bg {
  background-color: rgb(241, 241, 241);
}

.nav_container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 52px;
}

.arrow {
  border: solid rgb(168, 168, 168);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Dropdown Button */
.dropbtn {
  color: rgb(58 58 58);
  height: 20px;
  padding-right: 50px;
  font-size: 16px;
  border: none;
  font-family: 'poppins semibold', Helvetica, sans-serif;
  transition: 0.3s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  height: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: 0.3s;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(58 58 58);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #d0d0d0;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #f1d12f;
}

/* RECIPE PAGE FOR ALL */
.category_tag {
  background-color: rgb(232, 245, 255);
  font-family: 'Poppins Semibold', Helvetica, sans-serif;
  color: rgb(20, 153, 254);
  padding: 2px 10px 2px 10px;
}

.show_title {
  font-size: 35pt;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Poppins Semibold',Helvetica, sans-serif;
  font-size: 12pt;
  display: inline-block;
  color: rgb(58 58 58);
  margin: 30px 0 4px 0;
}


.description_container {
  max-width: 85%;
}

.recipe_highlight {
  color: rgb(20, 153, 254);
}

.separator {
  font-family: "Poppins light";
  color: rgb(202, 202, 202);
}

.recipe_image {
  display: flex;
/*  max-height: 50em; */
  max-width: 100%;
  max-height: 80%;
}

.recipe_heading {
  color: rgb(20, 153, 254);
  margin-bottom: -20px;
  font-size: 13pt;
}

.control_buttons {
  display: inline-block;
  font-family: 'Poppins semibold', Helvetica, sans-serif;
  text-align: center;
  padding: 5px 10px 5px 10px;
  background-color: #ffd723;
  color: #ffffff;
}

.control_buttons:hover {
  transition: 0.5s;
  background-color: #ffeea3;
  color: rgb(255, 188, 6);
}

ol {
  line-height: 1.7;
  max-width: 80%;
}

ol li {
  margin-bottom: 10px ;
}

ol li::marker {
  font-family: 'Poppins semibold', Arial, Helvetica, sans-serif;
}

img {
  max-height: 30em;
  display: flex;
  margin-bottom: 20px;
}



/*  ORIGINAL GRID
.recipe_grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  border: solid 2px green;
} */

/* RECIPE PAGE INDIVIDUAL RECIPE */

body {
  margin: -16px 0px 0 0px;
}

/* website container */
.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;    
}

.thumb {
    height: 14em;
}


/* RECIPE FORM */
.form_spacing {
  margin-bottom: 20px;
}

.submit_button {
  display: inline-block;
  font-family: 'Poppins semibold', Helvetica, sans-serif;
  text-align: center;
  padding: 5px 10px 5px 10px;
  background-color: #ffd723;
  color: #ffffff;
  border: 0;
}

.submit_button:hover {
  transition: 0.5s;
  background-color: #ffeea3;
  color: rgb(255, 188, 6);
}

/* TESTING */ 
.recipe_grid {
  grid-gap: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(315px, 1fr));
  border: 1px solid red;
}

.show_image {
  object-fit: cover;
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
}

img {
  max-height: 37em;
    display: flex;
    margin-bottom: 20px;
}

.index_thumbnail {
  display: block;
  width: 100%;
  height: 36rem;
  object-fit: cover;
}

.index_content {
  padding: 34px 0 12px 0;
}

.recipe_show_name {
  font-family: 'Poppins semibold', Arial, Helvetica, sans-serif;
  display: inline-block;
  border: solid 1px red;
  text-align: center;
  height: 20px;
}